.col-sm-4.col-md-3.proto-content
  .thumbnail
    = link_to prototype_path(prototype) do
      - if prototype.main_image.blank?
        = image_tag '/images/noimage.png', size: '250x250'
      - else
        = image_tag prototype.main_image
    .caption
      %h3= prototype.title
      .proto-meta
        .proto-user
          = link_to prototype.user.nickname, user_path(prototype.user)
        .proto-posted
          Apr 26
      %ul.proto-tag-list.list-inline
        %li
          = link_to 'iPad', '#'
        %li
          = link_to 'wireframe', '#'
